[workspace]
members = [
    "air",
    "air-interpreter",
    "crates/air-parser",
    "crates/data-store",
    "crates/polyplets",
    "crates/interpreter-interface",
    "crates/interpreter-data",
    "crates/test-module",
    "crates/test-utils",
    "crates/trace-handler",
    "avm/server",
]

exclude = [
    "air/tests/test_module/integration/security_tetraplets/auth_module",
    "air/tests/test_module/integration/security_tetraplets/log_storage",
    "crates/air-interpreter-wasm",
]

[profile.release]
opt-level = 3
debug = false
lto = true
debug-assertions = false
overflow-checks = false
panic = "abort"
