[package]
name = "aquavm-air-cli"
version = "0.6.3"
edition = "2021"
description = "AIR execution and printing tool"
authors = ["Fluence Labs"]
license = "Apache-2.0"
repository = "https://github.com/fluencelabs/aquavm"
documentation = "https://docs.rs/aquavm-air-cli"
keywords = ["fluence", "air", "tracing"]

[dependencies]
aquavm-air = { version = "0.59.0", path = "../../../air" }
air-beautifier = { version = "0.4.1", path = "../../../crates/beautifier" }
avm-data-store = { version = "0.7.7", path = "../../../crates/data-store" }
avm-interface = { version = "0.31.2", path = "../../../avm/interface" }
air-interpreter-interface = { version = "0.17.2", path = "../../../crates/air-lib/interpreter-interface", default-features = false }
air-interpreter-data = { version = "0.17.0", path = "../../../crates/air-lib/interpreter-data" }
air-interpreter-sede = { version = "0.1.0", path = "../../../crates/air-lib/interpreter-sede", default-features = false }
air-test-utils = { version = "0.15.1",path = "../../../crates/air-lib/test-utils", optional = true }

clap = { version = "4.4.7", features = ["derive", "env"] }
eyre = "0.6.11"
itertools = "0.10.5"
semver = "1.0.21"
serde = { version = "1.0.190", features = ["derive"] }
serde_json = "1.0.108"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.17", default-features = false, features = [ "env-filter", "json", "smallvec", "time", "fmt" ] }
atty = "0.2.14"
termcolor = "1.2.0"
fluence-keypair = "0.10.4"
bs58 = "0.5.0"
zeroize = "1.6.0"
marine-wasmtime-backend = {version = "0.5.1", path = "../../../../marine/crates/wasmtime-backend"}
tokio = { version = "1", features = ["rt", "macros"] }
futures = "0.3.30"


# near
# alpha version is used because older versions depend on
# the parity-secp256k1 crate which is yanked
near-sdk = { version = "5.0.0-alpha.1", optional =  true }
workspaces = { version = "0.7.0", optional = true }

# risc-0
# risc0-zkvm = { version = "0.19.1", optional = true }
# zk-aquavm-methods = { path = "../../../crates/risc-0/methods", version = "0.1.0", features = ["enable_risc_0_compilation"], optional = true }
# zk-aquavm-interface = { path = "../../../crates/risc-0/core", version = "0.1.0", optional = true }

[features]
default = ["wasm"]
wasm = ["air-test-utils"]
gen_signatures = ["aquavm-air/gen_signatures"]
check_signatures = ["aquavm-air/check_signatures"]
near = [ "dep:near-sdk", "dep:workspaces" ]
# risc0 = [ "dep:risc0-zkvm", "dep:zk-aquavm-methods", "dep:zk-aquavm-interface" ]

[[bin]]
name = "air"
path = "src/main.rs"
