[package]
name = "air-beautify-wasm"
version = "0.2.1"
authors = ["Fluence Labs"]
edition = "2021"
description = "WASM module for air-beautify"
license = "Apache-2.0"
publish = false
keywords = ["fluence", "air", "beautifier"]

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
# 0.2.79: a function can return Result<..., JsError>.
wasm-bindgen = { version = "=0.2.83", features = ["serde-serialize"] }
air-beautifier = { version = "0.1.4", path = "../../../crates/beautifier" }
